@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
*{
  scroll-behavior: smooth;
}
body{
  /* color: rgb(var(--foreground-rgb)); */
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  }
  #blogs{
    background: linear-gradient(
        to bottom,
        transparent,
        rgb(var(--background-end-rgb))
      )
      rgb(var(--background-start-rgb));
  }
  section {
    min-height: 93dvh;
    display: flex;
}
.my-config {
  --darkmode: 0;
  --h-accent: 223;
  --s-accent: 100%;
  --l-accent: 61%;
}

.galleryBG{
  /* background-color: #8BC6EC;
  background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%); */
  background: rgb(83,81,117);
  background: linear-gradient(135deg, rgba(83,81,117,1) 0%, rgba(149,159,184,1) 29%, rgba(185,194,209,1) 100%);
}
.heroBG{
  background-image: radial-gradient( circle farthest-corner at 69.9% 53%,  rgba(255,255,255,1) 0%, rgba(200,208,222,1) 92.2% );
}
.skeletonAnimation{
  background: linear-gradient(135deg, rgba(83,81,117,1) 0%, rgba(149,159,184,1) 29%, rgba(185,194,209,1) 100%);  
  background-size: 400% 400%;

  animation-name: skeletonAnimation;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.draggable-indicator {

	width: 16px;
	height: 16px;

	position: absolute;
	right: 0.5em;
	top: 0;
	bottom: 0;
	margin: auto;
}

.draggable-indicator rect {
	fill: #ccc;
}

@keyframes skeletonAnimation {
  0%{
    background-position: 0% 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0% 50%;
  }
}