@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://cdn.jsdelivr.net/npm/@uploadcare/blocks@0.25.0/blocks/themes/lr-basic/index.css');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
*{
  scroll-behavior: smooth;
}
body{
  /* color: rgb(var(--foreground-rgb)); */
  scroll-behavior: smooth;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  }
  #blogs{
    background: linear-gradient(
        to bottom,
        transparent,
        rgb(var(--background-end-rgb))
      )
      rgb(var(--background-start-rgb));
  }
  section {
    min-height: 93dvh;
    display: flex;
}
.my-config {
  --darkmode: 0;
  --h-accent: 223;
  --s-accent: 100%;
  --l-accent: 61%;
}

.galleryBG{
  /* background-color: #8BC6EC;
  background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%); */
  background: rgb(83,81,117);
  background: linear-gradient(135deg, rgba(83,81,117,1) 0%, rgba(149,159,184,1) 29%, rgba(185,194,209,1) 100%);
}
.heroBG{
  background-image: radial-gradient( circle farthest-corner at 69.9% 53%,  rgba(255,255,255,1) 0%, rgba(200,208,222,1) 92.2% );
}
.skeletonAnimation{
  background: linear-gradient(135deg, rgba(83,81,117,1) 0%, rgba(149,159,184,1) 29%, rgba(185,194,209,1) 100%);  
  background-size: 400% 400%;

  animation-name: skeletonAnimation;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.draggable-indicator {

	width: 16px;
	height: 16px;

	position: absolute;
	right: 0.5em;
	top: 0;
	bottom: 0;
	margin: auto;
}

.draggable-indicator rect {
	fill: #ccc;
}
.lr-wgt-common {
  --ctx-name: 'my-uploader';
  --cfg-pubkey: '3ae1332f6041f3de75f8';
  --cfg-use-local-image-editor: 0;
  --cfg-use-cloud-image-editor: 1;
  --darkmode: 1;
}


@keyframes skeletonAnimation {
  0%{
    background-position: 0% 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0% 50%;
  }
}

/* react Responsive Modal */

.react-responsive-modal-root {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.react-responsive-modal-overlay {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.react-responsive-modal-container {
  height: 100%;
  outline: 0;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
}

/* Used to trick the browser to center the modal content properly  */
.react-responsive-modal-containerCenter:after {
  width: 0;
  height: 100%;
  content: '';
  display: inline-block;
  vertical-align: middle;
}

.react-responsive-modal-modal {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  background: #ffffff;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.25);
  position: relative;
  overflow-y: auto;
}

.react-responsive-modal-closeButton {
  position: absolute;
  top: 14px;
  right: 14px;
  border: none;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  display: flex;
}

/* Used to fix a screen glitch issues with the animation see https://github.com/pradel/react-responsive-modal/issues/495 */
.react-responsive-modal-overlay,
.react-responsive-modal-container,
.react-responsive-modal-modal {
  animation-fill-mode: forwards !important;
}

@keyframes react-responsive-modal-overlay-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes react-responsive-modal-overlay-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes react-responsive-modal-modal-in {
  0% {
    transform: scale(0.96);
    opacity: 0;
  }
  100% {
    transform: scale(100%);
    opacity: 1;
  }
}

@keyframes react-responsive-modal-modal-out {
  0% {
    transform: scale(100%);
    opacity: 1;
  }
  100% {
    transform: scale(0.96);
    opacity: 0;
  }
}
